<!-- ======= Footer ======= -->
<footer>
  <div class="footer-area" style="background-color:black">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="footer-content">
            <div class="footer-head">
              <div class="footer-logo" style="color:#b8860b">
                <h2 style="color:#daa520">tundacom</h2>
              </div>

          <div class="footer-content">
            <div class="footer-head">
              <div class="links">
                <ul>
                  <li><a style="color:#daa520; padding-top:100px; marging-top:20em"href="{% url 'about' %}">About Us</a></li>
                  <li><a style="color:#daa520; padding-top:100px; marging-top:20em" href="">Terms and Conditions</a></li>
                  <li><a style="color:#daa520; padding-top:100px; marging-top:20em"href="">Privacy Policy</a></li>
                  <li><a style="color:#daa520; padding-top:100px; marging-top:20em"href="">Disclaimer</a></li>
                </ul>

            </div>
          </div>
        </div>

            </div>
          </div>
        </div>
        <!-- end single footer -->
        <div class="col-md-4">
          <div class="footer-content">
            <div class="footer-head">
              <h3 style="color:#daa520">Join us</h3>
              <div class=>
                <ul style="color:#daa520;">
                  <li style="color:#daa520">
                    <a  style="color:#daa520;" href="#"><i class="bi bi-facebook">  </i>  Facebook</a>
                  </li>
                  <li style="color:#daa520">
                    <a style="color:#daa520;" href="#"><i class="bi bi-twitter"></i>   Twitter</a>
                  </li>
                  <li style="color:#daa520">
                    <a style="color:#daa520;" href="#"><i class="bi bi-instagram"></i>   Instagram</a>
                  </li>
                  <li style="color:#daa520">
                    <a style="color:#daa520;"href="#"><i class="bi bi-linkedin"></i>   Linkedn</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- end single footer -->
        <div class="col-md-4">
          <div class="footer-content">
            <div class="footer-head">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-area-bottom" style="background-color:black">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="copyright text-center">
            <p style="color:#daa520">
              &copy; Copyright <strong>Tundacom</strong>. All Rights Reserved
            </p>
          </div>
          <div class="credits" style="color:#daa520">
            Designed by <a href="#">Tundacom</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer><!-- End  Footer -->
